$logo-color: white;
$secondary-text: white;
$primary-color: white;
$header-color: #242582;
$list-item-color: #2F2FA2;
$list-item-shadow: rgba(0,0,0,0.25);
$background-color: #2F2FA2;

//#242582 - #553D67 - #F64C72 - #99738E - #2F2FA2