$logo-color: white;
$secondary-text: grey;
$primary-color: white;
$header-color: #021639;
$list-item-color: #021639;
$list-item-shadow: #eb0090;//rgba(0,0,0,0.25);
$background-color: #021639;

//#242582 - #553D67 - #F64C72 - #99738E - #2F2FA2