.listItem{
    display: block;
    min-height: 350px;
    min-width: 350px;
    height: calc(50% - 2vh);
    width: calc(33% - 4vw);
    background-color: $list-item-color;
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
    box-shadow: 0 14px 28px $list-item-shadow, 0 10px 10px $list-item-shadow;
    h3{
        display: block;
        height: 4vh;
        color: $primary-color;
        width: 100%;
        font-size: 2.6vh;
        line-height: 4vh;
        padding-bottom: 1vh;
        text-align: center;
    }
    img{
        display: block;
        height: calc(100% - 2vh - 2vh - 9vh);
        width: auto;//calc(100% - 2vw);
        margin: 0 auto;
    }
    h4{
        margin-top: 1vh;
        display: block;
        text-align: center;
        word-break: break-word;
        height: 8vh;
        color: $primary-color;
        font-size: 1.7vh;
        line-height: 2vh;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 1vh;
        padding-right: 1vh;
        font-weight: normal;
    }
}